# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

Node / Frontend
node_modules/
dist/
build/

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Others
.DS_Store
*.log

# Database
db.sqlite3
*.sqlite3

# Media files
media/
uploads/

# Static files
staticfiles/